{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Professors</span></h1>
  {% for prof in professors %}
  	<li>
  	  <a href="{{request.route_url('professors', prof.name)}}"> {{prof.name}} </a>
  	</li>
  {% endfor %}
</div>
{% endblock content %}
