{% extends "layout.jinja2" %}

{% block content %}
<div class="content">
  <h1><span class="font-semi-bold">Students</span></h1>
  {% for student in students %}
  	<li> {{student.name}} </li>
  {% endfor %}
</div>
{% endblock content %}
